# Node
node_modules

# Build outputs
/dist
/.vite
/.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# Env files
.env
.env.*

# TypeScript
*.tsbuildinfo 